.faq-section-bg {
    background-image: url('./../Images/faq-bg.jpg');
    /* min-height: 500px; */
    background-attachment: fixed;
}

.faq-section-bg .faq-right-side {
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
    margin: 95px 0px;
    background-color: white;
    padding: 20px;
}

.faq-section-bg .faq-right-side ul {
    padding: 25px;
}

.faq-section-bg .faq-right-side h6 {
    font-size: 16px;
}

.faq-section-bg .faq-right-side h6 i {
    margin-left: 15px;
    font-size: 32px;
    vertical-align: -10px;
    color: #7777fb;
}

.faq-section-bg .faq-right-side p {
    font-size: 14px;
    margin: 10px 46px 0px 0px;
    color: #b8b2b2;
}

.faq-section-bg .faq-left-side .tabs {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
    /* background-color: #ffc412; */
}

.faq-section-bg .faq-left-side .tabs .tab {
    color: white;
    overflow: hidden;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label {
    padding: 16px;
    background-color: #ffc412;
    width: 100%;
    cursor: pointer;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label:hover {
    background-color: #ed930d;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label::after {
    font: var(--fa-font-solid);
    content: "\f053";
    text-align: center;
    width: 16px;
    height: 16px;
    /* transition: 0.4s; */
    
}
.faq-section-bg .faq-left-side .tab-content {
    max-height: 0;
    background-color: #7777fb;
     transition: .3s ease;
}

.faq-section-bg .faq-left-side input:checked ~ .tab-content{
    max-height: 300px;
}