.faq-section-bg {
    background-image: url('./../Images/faq-bg.jpg');
    /* min-height: 500px; */
    background-attachment: fixed;
}

.faq-section-bg .faq-right-side {
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
    margin: 95px 0px;
    background-color: white;
    padding: 20px;
}

.faq-section-bg .faq-right-side ul {
    padding: 25px;
}

.faq-section-bg .faq-right-side h6 {
    font-size: 16px;
}

.faq-section-bg .faq-right-side h6 i {
    margin-left: 15px;
    font-size: 32px;
    vertical-align: -10px;
    color: #7777fb;
}

.faq-section-bg .faq-right-side p {
    font-size: 14px;
    margin: 10px 46px 0px 0px;
    color: #b8b2b2;

}