.faq-section-bg {
    background-image: url('./../Images/faq-bg1.png');
    /* min-height: 500px; */
    /* background-attachment: fixed; */
}

.faq-section-bg .faq-right-side {
    border-radius: 5px;
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
    margin: 95px 0px;
    background-color: white;
    padding: 20px;
}

.faq-section-bg .faq-right-side ul {
    padding: 25px;
}

.faq-section-bg .faq-right-side h6 {
    font-size: 16px;
}

.faq-section-bg .faq-right-side h6 i {
    margin-left: 15px;
    font-size: 32px;
    vertical-align: -10px;
    color: #7777fb;
}

.faq-section-bg .faq-right-side p {
    font-size: 14px;
    margin: 10px 46px 0px 0px;
    color: #b8b2b2;
}

.faq-section-bg .faq-left-side {
    margin: 95px 0px;
}

.faq-section-bg .faq-left-side .tabs {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
}

.faq-section-bg .faq-left-side .tabs .tab {
    color: white;
    overflow: hidden;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label {
    padding: 14px;
    background-color: #7777fb;
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #efefef33;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label:hover {
    background-color: #ffa743;
}

.faq-section-bg .faq-left-side .tabs .tab .tab-label::after {
    font: var(--fa-font-solid);
    content: "\f053";
    text-align: center;
    padding: 4px 0 0 0;
    /* background-color: black; */
    float: left;
    transition: 0.4s;
}

.faq-section-bg .faq-left-side .tab-content {
    /* padding: 10px; */
    height: 0;
    background-color: white;
    color: #525252;
    transition: 0.4s ease;
    font-size: 15px;
    line-height: 24px;
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
}

.faq-section-bg .faq-left-side input:checked~.tab-content {
    height: 100px;
    padding: 10px;
    overflow-y: scroll;

}

.faq-section-bg .faq-left-side input:checked+.tab-label::after {
    transform: rotate(-90deg);
}

.faq-section-bg .faq-left-side input {
    display: none;
}