@font-face {
  font-family: Vazirmatn;
  src: url(./../Fonts/fonts/ttf/Vazirmatn-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}
/* start contact section styles */

.container-fluid-custom {
  background-color: rgb(6, 6, 123);
  color: #fff;
  height: 40px;
}

.container-fluid-custom .contact {
  font-size: 15px;
}
.container-fluid-custom .contact i {
  color: rgb(255, 86, 25);
  vertical-align: -12px;
  margin-right: 15px;
}
.container-fluid-custom .contact span {
  color: #fff;
  margin: 5px;
  vertical-align: 1px;
}

.container-fluid-custom .social-media {
  direction: ltr;
}
.container-fluid-custom .social-media i {
  vertical-align: -10px;
  margin-right: -7px;
  padding: 11px;
  width: 40px;
  justify-content: space-around;
}
.container-fluid-custom .social-media i:hover {
  background-color: #ff571a;
  border: 1px solid #ff571a;
  border-radius: 20px;
  padding: 11px;
}
.container-fluid-custom .social-media a {
  color: #fff;
}
/* end contact section styles */
